[Desktop Entry]
Type=Application
Name=Sound
Name[ca]=So
Name[da]=Lyd
Name[de]=Sound
Name[el]=Ήχος
Name[es]=Sonido
Name[es_419]=Sonido
Name[es_MX]=Sonido
Name[fr]=Son
Name[hye]=Ձայն
Name[id]=Suara
Name[it]=Suoneria
Name[it_IT]=Suono
Name[ja]=サウンド
Name[ko]=사운드
Name[lt]=Garsas
Name[nl]=Geluid
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[pt_PT]=Som
Name[ru]=Звук
Name[ru_RU]=Звук
Name[tr]=Ses
Name[zh_CN]=声音
Name[zh_TW]=聲音
Comment=Change sound levels, inputs, outputs, and alert sounds
Comment[ca]=Canvii els nivells de so, entrades, sortides i sons d'alerta
Comment[da]=Skift lydniveauer, inputs, outputs og beskedlyde
Comment[de]=Lautstärke, Ein- und Ausgabegeräte und Hinweistöne ändern
Comment[el]=Αλλάξτε τα επίπεδα ήχου, τις εισόδους, τις εξόδους και τους ήχους συναγερμού
Comment[es]=Cambia los niveles de sonido, entradas, salidas y sonidos de notificaciones
Comment[es_419]=Cambia niveles de sonido, salidas, entradas y alertas
Comment[es_MX]=Cambiar los niveles, entradas, salidas, y los sonidos de alerta de sonido
Comment[fr]=Changez vos niveaux sonores, entrées, sorties, et sons des alertes
Comment[hye]=Փոփոխել ձայնի մակարդակները արտածումը, ներածումը  եւձայնային ազդանշանները
Comment[id]=Ubah level suara, input, output, dan suara siaga
Comment[it]=Cambia livelli audio, input, output e notifiche
Comment[it_IT]=Modifica il volume, gli ingressi, le uscite ed i suoni di avviso
Comment[lt]=Keisti garso lygius, įvestis, išvestis ir įspėjimų garsus
Comment[nl]=Verander geluidsniveau, invoer, uitvoer en notificatiegeluiden
Comment[pl]=Zmień poziomy dźwięku, wejścia, wyjścia, oraz efekty dźwiękowe
Comment[pt]=Alterar o nível do som, entradas, saídas e de alertas
Comment[pt_BR]=Altere o nível do som, entradas, saídas e alertas sonoros
Comment[pt_PT]=Altere o nível do som, entradas, saídas e alertas sonoros
Comment[ru]=Настройки уровней громкости, входов, выходов и звуков оповещения
Comment[ru_RU]=Изменить уровни звука, звуки ввода, вывода и уведомлений
Comment[tr]=Ses düzeylerini, girdileri, çıktıları ve uyarı seslerini değiştir
Comment[zh_CN]=改变音量大小、输入方式、输出方式和提示音
Comment[zh_TW]=變更音量、輸入源、輸出源與警示音
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[da]=Kort;Mikrofon;Lydstyrke;Fade;Balance;Bluetooth;Headset;Lyd;
Keywords[hye]=Քարտ;Խաւսափող;Բարձրութիւն;Թուլացում;հաշուեկշիռ;Bluetooth;Ականջակալ;Ձայնային;
Keywords[it_IT]=Scheda;Microfono,Volume;Dissolvenza;Bilanciamento;Bluetooth;Cuffie;Audio;
Keywords[lt]=Plokštė;Mikrofonas;Garsis;Garsumas;Garsas;Išnykimas;Balansas;Bluetooth;Ausinės;Audio;
Keywords[pt_BR]=Placa;Microfone;Volume;Fade;Balanço;Bluetooth;Headset;Áudio;
Keywords[ru_RU]=Карта;Микрофон;Громкость;Затухание;Баланс;Bluetooth;Наушники;Аудио;
Keywords[tr]=Kart;Mikrofon;Ses;Geçiş;Denge;Bluetooth;Kulaklık;Ses;
Icon=multimedia-volume-control
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=av/volume_up
