[Desktop Entry]
Type=X-Liri-Service
Name=Sound Volume
Name[da]=Lydstyrke
Name[es_419]=Volumen del sonido
Name[fr]=Volume du son
Name[he]=עוצמת שמע
Name[hye]=Ձայնի ուժգնութիւնը
Name[id]=Volume suara
Name[it_IT]=Volume
Name[lt]=Garsų garsis
Name[pl]=Głośność Dźwięku
Name[pt]=Volume do Som
Name[pt_BR]=Volume do som
Name[ru]=Громкость звука
Name[ru_RU]=Громкость звука
Name[tr]=Ses Düzeyi
Name[zh_CN]=音量
Name[zh_TW]=音量
Comment=Adjust the volume of devices and applications
Comment[da]=Juster lydstyrken på enheder og programmer
Comment[es_419]=Ajusta el volumen de dispositivos y aplicaciones
Comment[fr]=Ajuster le volume des appareils et des applications
Comment[he]=כוונן עוצמת השמע של ההתקנים והיישומים
Comment[hye]=Կարգաւորել սարքաւորումների եւ յաւելուածների ձայնի ուժգնութիւնը 
Comment[id]=Sesuaikan volume suara pada perangkat dan aplikasi
Comment[it_IT]=Modifica il volume dei dispositivi e delle applicazioni
Comment[lt]=Reguliuoti įrenginių ir programų garsį
Comment[pl]=Dostosuj głośność urządzeń i aplikacji
Comment[pt]=Ajustar o volume de dispositivos e aplicações
Comment[pt_BR]=Ajustar o volume de dispositivos e aplicativos
Comment[ru]=Регулировка громкости устройств и приложений
Comment[tr]=Aygıtların ve uygulamaların sesini ayarla
Comment[zh_CN]=调节设备和应用音量
Comment[zh_TW]=調整裝置及應用程式音量
Keywords=Volume;Mixer;Audio;
Keywords[da]=Lydstyrke;Mixer;Lyd;
Keywords[he]=עוצמה;מערבל;שמע;
Keywords[hye]=Ուժգնութիւն;Խառնիչ;Ձայն
Keywords[it_IT]=Volume;Mixer;Audio;
Keywords[lt]=Garsis;Garsumas;Garsas;Maišytuvas;Maišiklis;Audio;
Keywords[pt_BR]=Volume;Mixer;Misturador;Áudio;
Keywords[ru_RU]=Громкость;Микшер;Аудио;
Keywords[tr]=Ses;Karıştırıcı;Mikser;Mixer;
OnlyShowIn=X-Liri;
X-Liri-ServiceType=StatusAreaExtension
X-Liri-StatusAreaExtension-Script=contents/main.qml
X-Liri-PluginInfo-Name=io.liri.StatusAreaExtensions.PulseAudio
X-Liri-PluginInfo-Category=StatusAreaExtensions
X-Liri-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@liri.io>
X-Liri-PluginInfo-Version=1.0.0
X-Liri-PluginInfo-Website=https://liri.io
X-Liri-PluginInfo-License=GPL-3.0-or-later
X-Liri-PluginInfo-EnabledByDefault=true
